* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  scroll-behavior: smooth;
}

main {
  background-color: #f8f9fc;
}

.navbar {
  background-color: #132235;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.navbar.active {
  background-color: #131313;
  box-shadow: 3px 0 1em #1a1a1a;
  transition: all 0.3s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

#navbar__logo img {
  height: 80px;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vw, 125px);
  text-decoration: none;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 65px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button i {
  padding-right: 0.5rem;
}

.button:hover {
  background-color: #fff;
  color: #132235;
}

.navbar__links:hover {
  color: #6cd9d2;
  transition: all 0.3s ease;
}

.highlight {
  border-bottom: 4px solid #6cd9d2;
}

.hero {
  background-color: #f8f9fc;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__background {
  height: 100%;
  width: 100%;
}

.hero__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-color: #f8f9fc;
  height: 532px;
  max-height: 532px;
  width: 100%;
  max-width: 768px;
  color: #000;
  padding: 3rem 3rem;
  margin-left: 3rem;
  /* margin-top: 100px; */
  line-height: 1;
}

.hero__heading {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 2rem;
}

.hero__description {
  margin-bottom: 1rem;
}

.topline {
  color: #6cd9d2;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero__search-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1rem #ececec;
}

.hero__search-home i {
  color: #6cd9d2;
}

.hero__box-form {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ececec;
}

.hero__search-box {
  display: flex;
  align-items: center;
}

.hero__box-form label {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #8b8b8b;
}

.hero__box-form input {
  border: none;
  width: 276px;
  padding: 0.5rem 1rem;
}

.hero__box-form input:focus {
  outline: 0;
}

.hero__box-form select {
  border: none;
  background-color: #fff;
  color: #7c7c7c;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  border-radius: 4px;
}

.hero__box-form select:focus {
  background-color: #ececec;
}

.hero__error-message {
  font-size: 0.7rem;
  color: red;
  padding: 0.5rem 1rem;
}

.hero__button {
  padding: 1rem 3rem;
  border: none;
  background-color: #1818ff;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  transition: all 0.3s ease;
}

.hero__button:hover {
  background-color: #4141ff;
  transition: all 0.3s ease;
}

.hero__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #132235;
  appearance: none;
  background-color: #132235;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out ;
}

.hero__search-btn:hover {
  background-color: #2d3e55;
}

.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.sobre__container, 
.servicos__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.sobre__content,
.servicos__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem; 
  width: 100%;
  height: 100%;
}

.sobre__img-box,
.servicos__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  overflow: hidden;
}

.sobre__img-box img,
.servicos__img-box img {
  width: 728px;
  height: 546px;
  object-fit: cover;
  object-position: left center;
  transition: all 0.6s ease-in-out;
}

.sobre__img-box img:hover,
.servicos__img-box img:hover {
  scale: 1.2;
}

.box-heading {
  display: flex;
  align-items: center;
}

.box-heading h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.line {
  height: 2px;
  width: 126px;
  margin: 0 1rem 2rem 1rem;
  background-color: #6cd9d2;
}

.sobre__details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.sobre__details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre__details-box span {
  color: #132235;
  font-weight: 700;
  font-size: 1.8rem;
}

.sobre__details-box p {
  color: #7c7c7c;
}

.servicos {
  width: 100%;
  height: 100vh;
  background-color: #ececec;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos__content h3,
.servicos__content p {
  margin-bottom: 2rem;
}

.destaques {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaques .box-heading h1, 
.destaques .box-heading span {
  margin-top: 2rem;
}

.destaques__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.destaques__description {
  text-align: center;
}

.destaques__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  max-height: 350px;
  width: 330px;
  background-color: #fff;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem #ececec;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.destaques__card:hover {
  margin-bottom: 1rem;
}

.destaques__card img {
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.destaques__card h3 {
  color: #132235;
}

.destaques__box-details {
  display: flex;
  justify-content: space-around;
}

.destaques__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.destaques__details p:nth-child(1){
  color: #8b8b8b;
  font-size: 0.8rem;
}

.destaques__details p:nth-child(2){
  color: #000;
  font-size: 0.9rem;
}

.destaques__type {
  font-size: 0.9rem;
  color: #6cd9d2;
  font-weight: bold;
}

.destaques__locale {
  color: #8b8b8b;
  font-size: 0.9rem;
}

.destaques__button,
.servicos__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: #132235;
  border: 1px solid #132235;
  color: #fff;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out ;
}

.destaques__button:hover,
.servicos__button:hover {
  background-color: transparent;
  color: #132235;
}

.destaques__button i,
.servicos__button i {
  margin-left: 1rem;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background-color: #131313;
    top: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
  }

  #navbar__logo {
    margin-left: 20px;
  }

  .navbar__toggle {
    z-index: 999;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
  .navbar__links {
    align-items: center;
    padding: 2rem;
    width: 100%;
  }

  .navbar__button {
    display: none;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80px;
    margin: 0;
  } 

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
    z-index: 999;
    background-color: #fff;
    padding: 1.6px 0;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .hero__background {
    height: 50vh;
  }

  .hero__content {
    width: 100%;
    position: unset;
    padding: 2rem;
    padding-top: 3rem;
    margin: 0;
  }
  
  .hero__search {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  .hero__box-form {
    border: none;
    width: 100%;
  }

  .hero__search-home {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .hero__search-box {
    width: 100%;
    padding-bottom: 2rem;
  }

  .hero__search-btn {
    width: 100%;
  }

  .hero__box-form select, 
  .hero__box-form input {
    width: 100%;
    min-width: 236px;
  }

  .hero__box-form select {
    margin: 0;
  }

  .sobre {
    height: auto;
  }

  .sobre__container {
    flex-direction: column-reverse;
    margin: 0 5rem;
  }

  .sobre__img-box, 
  .servicos__img-box {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  
  .sobre__img-box img, 
  .servicos__img-box img {
    height: 50vh;
    object-fit: cover;
    object-position: 50% 70%;
  }
  
  .sobre__img-box img:hover,
  .servicos__img-box img:hover {
    scale: none;
  }

  .destaques {
    height: auto;
  }

  .destaques__container {
    flex-direction: column;
  }

  .destaques__card {
    margin: 1rem 0;
  }

  .servicos {
    height: auto;
  }

  .servicos__container {
    flex-direction: column;
    margin: 0 5rem;
  }

  .servicos__img-box img {
    object-position: 50% 35%;
  }

}