:root {
  --main: #132235;
  --primary: #f8f9fc;
  --secondary: #6cd9d2;
  --white: #fff;
  --gray: #ececec;
  --gray-500: #8b8b8b;
  --gray-700: #7c7c7c;
  --blue-hover: #2d3e55;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  scroll-behavior: smooth;
}

main {
  background-color: var(--primary);
}

.navbar {
  background-color: var(--main);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 3rem;
}

#navbar__logo img {
  height: 80px;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vw, 125px);
  text-decoration: none;
  height: 100%;
}

.navbar__btn {
  margin-left: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: 65px;
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.button i {
  padding-right: 0.5rem;
}

.button:hover {
  background-color: var(--white);
  color: var(--main);
}

.navbar__links:hover {
  color: var(--secondary);
  transition: all 0.3s ease;
}

.highlight {
  border-bottom: 4px solid var(--secondary);
}

.hero {
  background-color: var(--primary);
  height: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__background {
  height: 100%;
  width: 100%;
}

.hero__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background-color: var(--primary);
  height: 532px;
  max-height: 532px;
  width: 100%;
  max-width: 768px;
  color: #000;
  padding: 3rem 3rem;
  margin-left: 3rem;
  line-height: 1;
}

.hero__heading {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 2rem;
}

.hero__description {
  margin-bottom: 1rem;
}

.topline {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero__search-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 1rem var(--gray);
}

.hero__search-home i {
  color: var(--secondary);
}

.hero__box-form {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--gray);
}

.hero__search-box {
  display: flex;
  align-items: center;
}

.hero__box-form label {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--gray-500);
}

.hero__box-form input {
  border: none;
  width: 276px;
  padding: 0.5rem 1rem;
}

.hero__box-form input:focus {
  outline: 0;
}

.hero__box-form select {
  border: none;
  background-color: var(--white);
  color: var(--gray-700);
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  border-radius: 4px;
}

.hero__box-form select:focus {
  background-color: var(--gray);
}

.hero__error-message {
  font-size: 0.7rem;
  color: red;
  padding: 0.5rem 1rem;
}

#comming-soon {
  font-size: 1rem;
  display: none;
}

.message-sending {
  display: none;
  color: green;
  font-weight: bold;
}

.hero__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid var(--main);
  appearance: none;
  background-color: var(--main);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out ;
}

.hero__search-btn:hover {
  background-color: var(--blue-hover);
}

.sobre {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre__container, 
.servicos__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  max-width: 1000px;
}

.sobre__content,
.servicos__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem; 
  width: 100%;
  height: 100%;
}

.sobre__img-box,
.servicos__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  overflow: hidden;
}

.sobre__img-box img,
.servicos__img-box img {
  width: 728px;
  height: 546px;
  object-fit: cover;
  object-position: left center;
  transition: all 0.6s ease-in-out;
}

.sobre__img-box img:hover,
.servicos__img-box img:hover {
  scale: 1.2;
}

.box-heading {
  display: flex;
  align-items: center;
}

.box-heading h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.line {
  height: 2px;
  width: 126px;
  margin: 0 1rem 2rem 1rem;
  background-color: var(--secondary);
}

.sobre__details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.sobre__details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre__details-box span {
  color: var(--main);
  font-weight: 700;
  font-size: 1.8rem;
}

.sobre__details-box p {
  color: var(--gray-700);
}

.servicos,
.contato {
  width: 100%;
  height: 800px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos__content h3,
.servicos__content p {
  margin-bottom: 2rem;
}

.destaques {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaques__container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaques .box-heading h1, 
.destaques .box-heading span {
  margin-top: 2rem;
}

.destaques__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.destaques__description {
  text-align: center;
}

.destaques__description:nth-child(3) {
  margin-bottom: 2rem;

}

.destaques__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  max-height: 350px;
  width: 330px;
  background-color: var(--white);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem var(--gray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.destaques__card:hover {
  margin-bottom: 1rem;
}

.destaques__card img {
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.destaques__card h3 {
  color: var(--main);
}

.destaques__box-details {
  display: flex;
  justify-content: space-around;
}

.destaques__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.destaques__details p:nth-child(1){
  color: var(--gray-500);
  font-size: 0.8rem;
}

.destaques__details p:nth-child(2){
  color: #000;
  font-size: 0.9rem;
}

.destaques__type {
  font-size: 0.9rem;
  color: var(--secondary);
  font-weight: bold;
}

.destaques__locale {
  color: var(--gray-500);
  font-size: 0.9rem;
}

.destaques__button,
.servicos__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: var(--main);
  border: 1px solid var(--main);
  color: var(--white);
  margin: 1rem 0;
  transition: all 0.3s ease-in-out ;
}

.destaques__button:hover,
.servicos__button:hover {
  background-color: transparent;
  color: var(--main);
}

.destaques__button i,
.servicos__button i {
  margin-left: 1rem;
}

.contato {
  background-color: var(--primary);
}

.contato__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contato__content {
  width: 100%;
  height: 100%;
  background-image: url(./assets/img-07.jpg);
  background-size: cover;
}

.contato__filter {
  width: 100%;
  height: 100%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  background-color: var(--main);
  opacity: 0.9;
  z-index: 9;
}

.contato__filter i,
.contato__filter h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contato__content img {
  width: 100%;
  height: 100%;
}

.contato__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--gray);
}

#my-form {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contato__form-box {
  display: flex;
  flex-direction: column;
}

.contato__form-box label {
  color: #575757;
  margin-top: 1rem;
}

.contato__form-box input,
.contato__form-box textarea {
  width: 500px;
  max-width: 500px;
  border: none;
  border-bottom: 1px solid var(--gray-500);
  background-color: var(--gray);
  padding: 1rem 2rem;
  outline: none;
}

.contato__form-box textarea {
  height: min(10vw, 200px);
  
}

.contato__form-box input:focus,
.contato__form-box textarea:focus {
  border: 2px solid var(--secondary);
}

.contato__box-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contato__form-button {
  border: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contato__form-button:hover {
  background-color: transparent;
  color: var(--main)  ;
}

#error-input,
#error-textarea {
  display: none;
}

.footer {
  padding: 1rem calc((100vw - 1100px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  background-color: var(--main) ;
}

.footer__desc {
  padding: 0 2rem;
}


.footer__desc a img {
  height: 80px;
}

.footer__wrapper {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 3rem;
}

.footer__link i {
  margin-right: 1rem;
}

.footer__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer__link {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--secondary);
}

.footer__rigths {
  width: 100%;
  border-top: 1px solid var(--gray);
  text-align: center;
}

.footer__rigths p {
  padding-top: 2rem;
  color: var(--gray);
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background-color: #131313;
    top: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
  }

  #navbar__logo {
    margin-left: 1.5rem;
  }

  .navbar__toggle {
    z-index: 999;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
  }
  
  .navbar__links {
    align-items: center;
    padding: 2rem;
    width: 100%;
  }

  .navbar__button {
    display: none;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin: 0;
  } 

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
    z-index: 999;
    background-color: var(--white);
    padding: 1.6px 0;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .hero__background {
    height: 50vh;
  }

  .hero__content {
    width: 100%;
    position: unset;
    padding: 2rem;
    padding-top: 3rem;
    margin: 0;
  }
  
  .hero__search {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }

  .hero__box-form {
    border: none;
    width: 100%;
  }

  .hero__search-home {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }

  .hero__search-box {
    width: 100%;
    padding-bottom: 2rem;
  }

  .hero__search-btn {
    width: 100%;
  }

  .hero__box-form select, 
  .hero__box-form input {
    width: 100%;
    min-width: 236px;
  }

  .hero__box-form select {
    margin: 0;
  }

  .sobre {
    height: auto;
  }

  .sobre__container {
    flex-direction: column-reverse;
    margin: 0 5rem;
  }

  .sobre__img-box, 
  .servicos__img-box {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  
  .sobre__img-box img, 
  .servicos__img-box img {
    height: 50vh;
    object-fit: cover;
    object-position: 50% 70%;
  }
  
  .sobre__img-box img:hover,
  .servicos__img-box img:hover {
    scale: none;
  }

  .destaques {
    height: auto;
  }

  .destaques__box {
    flex-direction: column;
  }

  .destaques__card {
    margin: 1rem 0;
  }

  .servicos {
    height: auto;
  }

  .servicos__container {
    flex-direction: column;
    margin: 0 5rem;
  }

  .servicos__img-box img {
    object-position: 50% 35%;
  }

  .contato {
    height: auto;
  }

  .contato__container {
    flex-direction: column;
  }

  .contato__form {
    background-color: var(--gray);
    width: 100%;
    padding: 1.6rem 0;
  }

  .contato__form-box {
    margin: 0 1rem;
  }

  .contato__form-box input,
  .contato__form-box textarea {
    width: 350px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .footer__links {
    padding: 2rem 1rem;
  }

  .footer__desc {
    padding: 0;
    margin-left: 2rem;
  }
}
